
/*rightArea:右边焦点图样式*/
.sliderBox{ width: 100%; height: 200px; margin: 0 auto;position: relative;}
.sliderBox .btn{
	cursor: pointer; position: absolute; top:50%;
	margin-top: -25px; height: 52px; width: 52px;
	background: url("../img/index/btn.png") top center;
	 z-index: 5;
}
.sliderBox .btn.left{left:5%;}
.sliderBox .btn.right{right:5%; background-position: 0 -54px;}
.img_hight{
	width: 100%;
	height: 200px;
}
/*404页面样式*/
.error-404{
    width: 100%;
    min-height: 650px;
    background: url("../../resource/img/404.jpg") 85% 0 no-repeat;
    position: relative;
}
.error-content{
    position: absolute;
    width: 350px;
    margin: auto;
    left: 35%;
    top:52%;
}
.error-content h1{
    position: absolute;
    left: 27%;
    top:-65%;
    font-size: 66px;
    color: #ff6700;
    font-family: 'Fb76cc';
}
.error-content h2{
    margin: 10px 0;
}
.error-content h4{
    margin: 10px 0;
    color: #c3c3c3;
}
.error-content button{
    border: 1px solid #ff6700;
    height: 40px;
    width: 120px;
    margin: 15px 50px 0 0;
    border-radius: 15px;
}

/* 用户个人信息*/
