.now_price {
	color:#fe4070;
}
.now_price span{
	font-size: 18px;
}
.farmer_price{
	margin-top: .375rem;
	color: #999;
}
.font_size12{
	font-size: 12px!important;
}
.sale_info{
	text-alin:right;
	color: #999;
}
.pull-left{
	float: left;
}
.pull_right{
	float:right;
	position: relative;
}
.padding_block{
	padding-bottom: .5rem;
}
.clear{
	display:block;
}
.item_bg{
	background: #fff;
}
.detail_info_item{
	padding: .533rem .64rem .8rem;
}
.detail_price_info{
	margin-top: -2px;
}
.bottom_line{
	border-bottom:1px solid #e5e5e5;
}
.top_line{
	border-top:1px solid #e5e5e5;
}
