.font_size12{
	font-size: 12px!important;
}
.bottom_line{
	border-bottom:1px solid #e5e5e5;
}

.goods_buy_box {
    width: 100%;
    max-width: 640px;
    height: 49px;
    position: fixed;
    bottom: 0;
    z-index: 9998;
    background: transparent;
    margin: 0 auto;
}
.goods_buy_box ul {
    width: 100%;
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
}
.goods_buy_box ul li{
    width: 50%;
   
}
.goods_buy_box ul li a.buy_cart, .goods_buy_box ul li a.buy_friend {
    background: rgba(0, 0, 0, .85);
}

.goods_buy_box ul li a {
    display: block;
    height: 49px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 49px;
}
.goods_buy_box ul li a.buy_own {
    background: #ec711f;
}
.buy_own_confirm{
	background: #ec711f;
    display: block;
    height: 49px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 49px;
    margin-bottom: 50px;
}

.goods_buy_box{
    margin-top: 0;
    margin-bottom: 50px;
}

.top_btn i.icon {
    vertical-align: middle;
    background: url(../img/icon/wx_sprites.png) no-repeat;
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    background-size: 200px;
    margin: 0 auto;
    text-indent: -9999px;
}
.top_btn i.icon-back {
    background-position: -34px 4px;
}

.top_btn i.icon-cart {
    background-position: -34px -30px;
}
.top_btn {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
.detail_tool {
    width: 100%;
}
.top_btn .back_btn {
    top: 10px;
    left: 10px;
}
.top_btn .icon_btn {
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .7);
}
.detail_tool a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 7px;
}
.top_btn .cart_btn {
    top: 10px;
    right: 19px;
    overflow: visible !important;
}
.top_btn .icon_btn {
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .7);
}
.top_btn i.icon {
    vertical-align: middle;
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    background-size: 200px;
    margin: 0 auto;
    text-indent: -9999px;
}
.cart_tips {
    width: auto;
    background: #ec711f;
    border-radius: 10px;
    padding: 0 5px;
    position: absolute;
    top: -4px;
    right: -8px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
.back_bar {
	background-color:gainsboro;
	width:100%;
	height: 10px;
	margin-top: 8px;
}
.pro_detail_btns {
	position:absolute;
	left:0;
	bottom:0;
	width: 100%;
	margin-top: 20px;
}
.company_info {
	width:100%;
	height:110px;
	position: relative;
}
.company_pic{
	width:60px;
	height:60px;
	margin:10px;
	float:left;
}
.company_name {
	float:left;
	width: 200px;
	height: 20px;
	margin-top: 30px;
	margin-left: 10px;
	text-align: left;
	line-height: 20px;
	color: #000000;
	font-size: 14px;
}
.p_detail {
	float: left;border:1px solid gainsboro;
	width: 50%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #ec711f;
}
.see_pro {
	float: left;
	width: 50%;
	border:1px solid gainsboro;
	height: 35px;
	text-align: center;
	line-height: 35px;
}
.farmer_price {
	margin-top: 5px;
}
.buy_own_confirm_co {
	color: white;
	display:block;
	width: 100%;
	height: 49px;
}
.buy_own_confirm_pay {
	color: white;
	display:block;
	width: 100%;
	height: 49px;
}
.pro_main {
	position:fixed;
	top:0;
	bottom:50px;
	width:100%;
	overflow:scroll;
}
//弹窗的样式
.poplayer_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.poplayer_box.layer_type3 .poplayer_bg {
    background-color: rgba(0,0,0,.5);
}
.poplayer_bg {
    background-color: rgba(0,0,0,.5);
    pointer-events: auto;
}
.poplayer_bg, .poplayer_content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.poplayer_content {
	  z-index: 9999;
    display: table;
    pointer-events: none;
}
.poplayer_box.layer_type3 .poplayer_content .poplayer_section {
    vertical-align: bottom;
}

.poplayer_content .poplayer_section {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.poplayer_content {
    display: table;
    pointer-events: none;
}
.poplayer_box.layer_type3 .layer_style {
    width: 100%;
    max-width: 640px;
    background: rgba(255,255,255,1);
    border-radius: 0;
    padding: 10px;
}

.poplayer_section .layer_type {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    opacity: 1;
    padding: 20px;
    pointer-events: auto;
}
.poplayer_box .layercont {
    font-size: 14px;
}
.poplayer_box.layer_type3 .close_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -35px;
    right: 2%;
    cursor: pointer;
}
.poplayer_box.layer_type3 .close_btn i.icon_close {
    background-position: 0 -70px;
    width: 30px;
    height: 30px;
}
.poplayer_box i.icon {
    width: 38px;
    height: 25px;
    color: #333333;
    display: inline-block;
    background-size: 100px;
    vertical-align: middle;
    text-indent: -9999px;
}
i.icon {
    width: 25px;
    height: 25px;
    color: #333333;
    display: inline-block;
    background: url(../img/icon/layer_icon.png) no-repeat;
    background-size: 200px;
    vertical-align: middle;
    text-indent: -9999px;
}

.detail_select_rule {
    width: 100%;
    position: relative;
}
.detail_select_rule .goods_p_info {
    padding: 2px 0 16px;
}

.line-bottom {
    position: relative;
}
.line-bottom:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.detail_select_rule .goods_p_info .goods_p_img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.thumb-img11 {
    position: relative;
    overflow: hidden;
}
.fl {
    float: left;
}
.thumb-img11:after {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.thumb-img11 .img11 {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.img11 {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
}
.detail_select_rule .goods_p_info .goods_p_text {
    max-width: 80%;
    text-align: left;
    font-size: 12px;
    color: #333333;
    line-height: 18px;
    margin-top: -4px;
}
.fl {
    float: left;
}
.price_color {
    color: #ec711f;
}
i, em {
    font-style: normal;
}
.detail_select_rule .goods_p_info .goods_p_text .price {
    margin-top: 2px;
}
.clearfix, .clear {
    clear: both;
    zoom: 1;
}
.clearfix:after, .clearfix:before, .clear:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
    clear: both;
}
.detail_select_box .ui_sku {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 15px;
}
.detail_d_sku {
    text-align: left;
    color: #333333;
}
.detail_d_sku h2, .detail_d_quantity h2 {
    width: 20%;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}
.ui_sku h2, .quantity h2 {
    width: 10%;
    min-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}
.detail_d_sku .items, .detail_d_quantity .items {
    display: inline-block;
    width: 78%;
    vertical-align: middle;
}

.detail_d_sku .items {
    padding: 10px 0;
}
.width_w_98 {
    width: 98% !important;
    display: block !important;
}
.detail_d_sku .items{
    color: #fff;
    background: #f0721f;
}
.jiyinum{
	margin-bottom:20px;
	text-align: left;
}
.btn_opt{
	color: #fff;
    background: #f0721f;
    padding: 2% 10px;
    margin-top: 10px;
    margin-right: 8px;
    border-radius: 20px;
    height: 25px;
    text-align: center;
    line-height: 10px;
}
.title{
	margin-top: 10px;
}

.detail_d_sku .items {
    padding: 2% 10px;
    margin-right: 8px;
    border-radius: 30px;
}
.ui_sku label.btn_opt {
    background: #E76540;
    color: #FFF;
}
.ui_sku {
    display: inline-block;
    background-color: #fff;
    padding: 0 2%;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #333;
    margin-bottom: 2%;
    position: relative;
}
.kline {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}
/*.kline:after {
    position: absolute;
    z-index: 99999;
    content: "";
    left: 0;
    top: 0;
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
.detail_d_quantity {
    border: 0px none;
    padding: 10px 0px;
    text-align: left;
}

.clearfix, .clear {
    clear: both;
    zoom: 1;
}
.detail_d_quantity h2 {
    width: 20%;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.ui_sku h2, .quantity h2 {
    width: 10%;
    min-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}
.detail_d_quantity .items {
    display: inline-block;
    width: 78%;
    vertical-align: middle;
}
.detail_d_quantity {
    border: 0px none;
    padding: 10px 0px;
    text-align: left;
}
.quantity .items span {
    min-height: 22px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
}
.ui_number {
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #737373;
    letter-spacing: 0;
    height: 22px;
    line-height: 20px;
    overflow: hidden;
}
.ui_number .increase, .ui_number .decrease, .ui_number .num {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 18px;
}
.ui_number button {
    font-style: normal;
    font-size: 18px;
    border: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 20px;
    color: #000;
    background: none;
    cursor: pointer;
    font-weight: 100;
}
.ui_number .increase, .ui_number .num {
    margin-left: -4px;
}
.ui_number .increase, .ui_number .decrease, .ui_number .num {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 18px;
}
.goods_buy_detail {
    width: 100%;
    max-width: 640px;
    z-index: 1;
    background: rgba(255, 255, 255, .9);
    margin: 0 auto;
    position: relative;
}
.bline, .tline, .lline, .rline {
    position: relative;
}
Inherited from div.layercont
.poplayer_box .layercont {
    font-size: 14px;
}
Inherited from div.layer_type.layer_style
.poplayer_section .layer_type {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    opacity: 1;
    padding: 20px;
    pointer-events: auto;
}