
*{  
	font-family: "微软雅黑","Arial";
}
a:link{text-decoration:none;}
a:visited{text-decoration:none; }
a:hover{text-decoration:none;}
a:active{text-decoration:none;}

.myslides {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 200px;
    border-bottom: 1px solid gray;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content:inherit;
    align-items: center;
}
        
/***** footer 页面底部 start*/
/*footer  footer_service*/
.footer_service{
    padding: 30px 0;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}
.footer_service ul{
    margin-right: -2px;
}
.footer_service ul li{
    float: left;
    width: 33%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-right: 1px solid #e0e0e0;
    text-align: center;
}

