<style type="text/css">


.checkbox_bottom {
    width: 100%;
    height: 49px;
    position: fixed;
    bottom: 50px;
    z-index: 999;
    background: #FFFFFF;
    margin: 0 auto;
      opacity: 0.9;
}
.weui-cells:after {
    border-bottom: 0px solid #D9D9D9;
}
.cart_delete{
	z-index: 999;
	width: 100%;
	position: fixed;
	height:45px;
	bottom:105px;
    background: #FFFFFF;
    opacity: 0.9;


}

.cart_total{

	z-index: 999;
	width: 100%;
	position: fixed;
	right:0;
	bottom:52px;
}

.cart_delete_icon{
	z-index: 999;
	position: fixed;
	right:45px;
	bottom:112px;

}
.cart_delete_text{
	z-index: 999;
	position: fixed;
	right:10px;
	bottom:115px;


}


</style>

<div class="weui-cells weui-cells_checkbox" style="position:fixed;top:-15px;bottom:38px;width:100%;overflow-y:scroll;margin-bottom: 115px;">

<label class="weui-cell weui-check__label" ng-repeat="row in cart_datas" style="margin-bottom: 0px;">
    <div class="weui-cell__hd" style="margin:-8px;">
        <input type="checkbox"  class="weui-check" ng-model="row.check">
        <i class="weui-icon-checked" style="margin-right:5px"></i>
    </div>
    <div class="weui-cell__bd">
       <div class="weui-panel__bd" style="">
       <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg" style="margin-top:0px;padding: 0;">
       	      <div class="weui-media-box__hd" style="width: 50%;height: 120px;">
                  <img class="weui-media-box__thumb" style="width: 100%;height: 120px;" ng-src="{{row.product.imagelist[0].url}}"  alt="product">
            </div>

            <div class="weui-media-box__bd" style="margin: 0;padding: 0;">
               	   <span class="weui-form-preview__value" style="color: #000000;font-family: '微软雅黑';font-size: 16px;margin:0px ;padding: 0;">
               		{{row.product.proName}}
               	   </span>


                   <p class="weui-media-box__desc" style="color: orange;font-size:14px;margin-top: 25px;">
               	      <span>¥</span><span>{{row.product.proRateprice}}</span><span style="margin-left: 15px;">库存：{{row.product.proSum}}件</span><br />
               	      <span style="color: #aaaaaa;font-size:10px;text-decoration: line-through;">原价
               	   	      <span>¥</span>
               	   	      <span>{{row.product.productPrice}}</span>
               	      </span>
                   </p>
                   <div class="cart_item_num ">
                       <div class="item_quantity_editer clearfix" style="width:68%;border:1px solid #f2f2f2;margin: 0;padding: 0;">
	                     <span  class="decrease_one" ng-click="update_cart_pro_count(row.proId,-1)" ng-class="{cursors:true}">&nbsp;&nbsp;-</span>
	                     <input class="cart_pro_count_input" type="number" name="points" min="1" ng-change="change(row.proId,row.proCount)" ng-model='row.proCount'  >
	                     <span class="increase_one" 
	                     	ng-click="update_cart_pro_count(row.proId,1)" ng-class="{cursors:true}">&nbsp;+</span>
                       </div>
                   </div>
               </div>
            </a>
        </div>
    </div>
</label>


</div>


 <div class="cart_delete" ng-click="deleteSelect()">
 	<span>
 		<img  class="cart_delete_icon" src="resource/img/icon/icon_delete.png" style="width:30px;height:28px;" />
 		<span class="cart_delete_text">删除</span>
 	</span>
 </div>

<div class="weui-cells weui-cells_checkbox checkbox_bottom" style="height: 55px;margin: 0;padding: 0;">

    <label class="weui-cell weui-check__label" style="width:258px;margin:0;padding: 0;float: left;" ng-click="checkAll()">
        <div class="weui-cell__hd" style="line-height: 55px;">
            <input type="checkbox" class="weui-check"  ng-model="all">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <span style="font-size: 17px;">全选</span>
            <span style="font-size: 15px;color: #f0721f;margin-left: 15px;">合计：<span>¥{{cart_total}}</span></span>
        </div>
    </label>

    	<span class="cart_total" style="display:inline-block;width:115px;margin: 0;padding: 0;
        	background: #e36e2d;
        	height: 52px;
        	line-height: 55px;
        	text-align: center;
        	font-size: 15px;
        	color: #FFFFFF;

        	">
        	<a ng-click="createOrder()" style="color: #FFFFFF;word-spacing:3px;">去结算</a>

    </span>


</div>

<div class="js_dialog" id="dialog2" ng-if="isShowCartDialog">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">{{dialog_content}}</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" ng-click="btnOk()">知道了</a>
        </div>
    </div>
</div>

<div ng-include="'./view/common/common.html'"></div>