<!--头部工具栏-->

<div class="sliderBox" >
    <slider timer="2" data="data" btn-left="#btnleft" btn-right=".btnright" animate-type="ease" animate-time="1.0">
    </slider>
    <div class="btn left" id="btnleft"></div>
    <div class="btn right btnright"></div>
</div>

<div class="home_search">
   <!--
   	搜索框
   -->
   <div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required/>
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>{{search}}</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
    </div>
</div>

<div class="home_classify" >
    <div class="weui-flex"  ng-repeat="classify in classifies" >
        <div class="weui-flex__item"   ng-repeat="col in classify.row">
        	<span style="visibility:hidden">{{col.id}}</span>
            <img ng-src="{{col.img_url}}" style="width:90%;" class="weui_grid">
            <span style="position: absolute; bottom: 2px; right: 2px; background: #CFCFCF;opacity:0.6;"><font size="4">{{col.name}}</font></span> 
        </div>
    </div>
</div>
