<!--头部工具栏-->

<div class="sliderBox" >
    <slider timer="2" data="data" btn-left="#btnleft" btn-right=".btnright" animate-type="ease" animate-time="1.0">
    </slider>
    <div class="btn left" id="btnleft"></div>
    <div class="btn right btnright"></div>
</div>

<div class="home_search">
   <div ng-class="['weui-search-bar',focusing]">
        <form class="weui-search-bar__form" >
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" placeholder="搜索" id="searchInput" ng-model="searchInput" ng-keyup="searchKeyupEvent()" ng-focus="searchFocusEvent()" ng-blur="searchBlurEvent()" />
            </div>
            <label for="search_input" class="weui-search-bar__label" set-focus ng-if="searchText" ng-click="searchClickEvent()"  id="searchText">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn" ng-click="searchCancel()">取消</a>
    </div>
    <div class="weui-cells searchbar-result page__desc" style="postion:absolute;left:0px;top:0px;" ng-if="isSearchShow">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <div> <a ui-sref='cart' >实时搜索文本</a></div>
            </div>
        </div>
         <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
         <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
         <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
         <div class="weui-cell weui-cell_access">
            <div class="weui-cell__bd weui-cell_primary">
                <p>实时搜索文本</p>
            </div>
        </div>
    </div>
</div>

<div class="home_classify" >
    <div class="weui-flex"  ng-repeat="classify in classifies" >
        <div class="weui-flex__item"   ng-repeat="col in classify.row" >
        	<a href="#/product/{{col.id}}">
	            <img ng-src="{{col.claContent}}" style="width:90%;" >
	            <span style="position: absolute; bottom: 2px; right: 2px; background: #CFCFCF;opacity:0.6;"><font size="4">{{col.claName}}</font></span>
            </a>
        </div>
    </div>
</div>
