<!-- header -->
<!--<div ng-include="'view/common/header.html'"></div>-->
<!-- content -->
<div class="order-bd">

<div class="weui-tab">
	<div class="weui-navbar" style="position: fixed;">
		<a class="weui-navbar__item " ng-class="{'weui-bar__item_on':is_select_id==1}" ng-click="getOrdersData(1)">
			待付款
		</a>
		<a class="weui-navbar__item" ng-class="{'weui-bar__item_on':is_select_id==2}" ng-click="getOrdersData(2)">
			待发货
		</a>
		<a class="weui-navbar__item " ng-class="{'weui-bar__item_on':is_select_id==3}" ng-click="getOrdersData(3)">
			待检测
		</a>
		<a class="weui-navbar__item" ng-class="{'weui-bar__item_on':is_select_id==4}" ng-click="getOrdersData(7)">
			已完成
		</a>
</div>
<div class="weui-tab__panel">

	<div class="weui-panel weui-panel_access" ng-repeat="order in order_show">
		<div class="weui-panel__hd" >订单号:&nbsp;&nbsp;{{order.ordNum}}</div>
		<div class="weui-panel__bd top_line bottom_line" ng-click='orderDetail(order.id)'>
			<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg"  ng-repeat="ord_pro in order.mapOrderProductList">
				<div class="weui-media-box__hd" style="width: 40%;height: 110px;margin-right:15px ;margin-left: 5px;">
					<img class="weui-media-box__thumb" style="width: 100%;height: 110px;" ng-src="{{ord_pro.product.imagelist[0].url}}" alt="获取产品图">
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title">{{ord_pro.product.proName}}</h4>
			        <span class="weui-media-box__desc">
	                <div class="detail_info_item clear item_bg padding_block">
                        <div class="detail_price_info pull_left">
                            <div class="now_price">
                                <!--<span class="font_size12">折扣价</span>-->
                                <span>
                                    <span class="font_size12">￥</span>
                                    <span id="newPrice">{{ord_pro.proPrice}}</span>
                                </span>
                            </div>
    						<div class="farmer_price">
    							<span class="font_size12">原价</span>
    							<span>
    			                     <span class="font_size12">￥</span>
    							     <span style="text-decoration:line-through">{{ord_pro.product.productPrice}}</span>
    							</span>
    						</div>
            				<div class="sale_info pull_right">
            					<span>
            		                   <span class="font_size12">×</span>
            					       <span>{{ord_pro.proCount}}</span>
            					</span>
            				</div>

        				</div>
        			</div>
                </div>
             </a>
            <div>
            </div>
       </div>

    	<div class="weui-panel__ft pull-right">
    	    <div>
          合计:<span class="font_size16">￥{{order.price_sum}}</span>(含运费￥0.00)
           </div>
        </div>
        <div class="weui-panel__ft pull-right">
    		<div class="button-sp-area" ng-show="{{is_select_id}}==1">
    			<!--待支付状态-->
    			<span style="margin-right: 10px;">
    			<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">取消订单</a>
    			</span>
    			<a href="#/orderPay/" class="weui-btn weui-btn_mini weui-btn_primary">立即支付</a>
    		</div>
    		<div class="button-sp-area" ng-show="{{is_select_id}}==2" >
            </div>
            <div class="button-sp-area" ng-show="{{is_select_id}}==3">
            <!--待支付状态-->
    			<span style="margin-right: 10px;">
    			<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">查看收货物流</a>
    			</span>
    			<a href="#/orderPay/{{order.id}}" class="weui-btn weui-btn_mini weui-btn_primary">提交发货物流</a>
            </div>
            <div class="button-sp-area" ng-show="{{is_select_id}}==4">
    			<!--已完成状态-->
    			<a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">查看报告</a>
            </div>
    	</div>
    </div>
</div>
</div>
</div>