
<div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder">
    	<p class="product_state">
    		<span class="product_state_icon">icon</span>
    		<span class="product_state_font1">订单状态</span>
    		<span class="product_state_font2">已关闭</span>
    	</p>   
    </div></div>
</div>
<!--开头状态-->

<div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder">
    	<p class="product_detail">
    		<span class="product_state_font3">订单编号</span>
    		<span class="product_state_font4">2766673308352273</span>
    	</p>  
    	<p class="product_detail">
    		<span class="product_state_font3">下单时间</span>
    		<span class="product_state_font5">2016-12-01 19:20</span>
    	</p>   
    </div></div>
</div>
	<!--订单状态-->

<div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder">
    	<p class="product_location">
    		<span class="product_state_icon">icon</span>
    		<span class="product_state_font1">订单状态</span>
    		<span class="product_state_font2">已关闭</span>
    	</p>   
    </div></div>
</div>

,
<div class="mtbox"></div>