<!-- header -->
<!--<div ng-include="'view/common/header.html'"></div>-->
<!-- content -->
<style type="text/css">
	a img{
		width: 100%;
	}
</style>
<!--返回，购物车返回-->
<div class="detail_tool top_btn">
	<div class="back_btn icon_btn">
		<a href="#/home"><i class="icon icon-back"></i></a>
	</div>
	<div class="cart_btn icon_btn">
		<a href="#/cart"><i class="icon icon-cart"></i><em class="cart_tips">0</em></a>
	</div>
</div>
<!--商品明细-->
<div class="pro_bd">
	<div class="weui-tab">
		<div class="weui-tab__panel">
			<div class="weui-panel weui-panel_access">
				<!--   轮播图-->
				<div class="sliderBox">
					<slider timer="2" data="data" btn-left="#btnleft" btn-right=".btnright" animate-type="ease" animate-time="1.0">
					</slider>
					<div class="btn left" id="btnleft"></div>
					<div class="btn right btnright"></div>
				</div>
				<div class="weui-panel__bd top_line bottom_line">
					<a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            			<div class="weui-media-box__bd">
							<h4 class="weui-media-box__title">记忆天赋基因检测（获取产品名称）</h4>
							<span class="weui-media-box__desc">
			                <div class="detail_info_item clear item_bg padding_block .bottom_line">
				                 <div class="detail_price_info pull_left">
				                    <div class="now_price">
				                            <!--<span class="font_size12">折扣价</span>-->
								       <span> <span style="color: #f0721f;font-size: 14px;">￥</span><span id="newPrice" style="color: #f0721f;">1200（获取价格）</span></span>
							        </div>
							        <div class="farmer_price">
								       <span class="font_size12">原价</span>
								       <span><span class="font_size12">￥</span><span style="text-decoration:line-through">1500</span></span>
							        </div>
					            </div>
				            </div>
				            <hr style="margin-top: 10px;margin-bottom: 10px;" />
				            <div>
					            <span class="pull-left">
				                <span>库存&nbsp;&nbsp;&nbsp;<span style="color: #000000;"></span>&nbsp1101&nbsp件（获取库存）</span>
					            </span>
	                        <!--...或者改成图片 点击有弹框 弹出购买份数的加减-->
					            <span class="pull-right">
				                <span ng-click="showModal();button_state_change()">. . .</span>
					            </span>
				            </div>		
							<hr style="margin-top: 10px;margin-bottom: 10px;" />
							<div>
								<span class="pull-left">
							        <span>详细介绍</span>
								</span>
							</div>
							<hr style="margin-top: 10px;margin-bottom: 10px;" />
                    <!--商品的详细介绍获取-->
	                        <div style="height: 100%;">
	                        	这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品<div>
	                        	详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的</div>
	                        	商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提<div>
	                        	这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品</div>
	                        	详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的<div>
	                        	商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提</div>    
	                        	这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品<div>
	                        	详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的</div> 
	                        	 
	                        	<img src="resource/img/personal/about_us.png">
	                        	<img src="resource/img/personal/about_us.png"/>
	                        </div>
						</div>

					</a>

				</div>
			</div>
		</div>
	</div>
</div>
<!--加入购物车，点击购买-->
<div class="goods_buy_box" ng-show="button_state">
	<!-- 购买按钮 -->
	<ul>
		<li><a class="buy_cart" ng-click="showModal();button_state_change()"> <span>加入购物车</span> </a></li>
		<li><a class="buy_own" ng-click="showModal();button_state_change1()"> <span>立即购买</span> </a></li>
	</ul>
</div>
<!--弹层	-->
<!--加入购物车，点击购买，...弹层-->
<div style="z-index: 999999;"  class="poplayer_box layer_type3" id="mask" ng-show="mask">
	<div class="poplayer_bg" ng-click="mask = false"></div>
	<div class="poplayer_content">
		<div class="poplayer_section">
			<div class="layer_type layer_style">
				<!-- 样式风格 -->
				<div class="layercont">
					<!--关闭按钮-->
					<div class="close_btn" ng-click="button_state_changere()">
						<i class="icon icon_close" ng-click="close()"></i>
					</div>
					<div class="detail_select_rule">
						<div class="goods_p_info line-bottom ">
							<div class="goods_p_img thumb-img11 fl">
								<!--获取该商品详情的商品小图-->
								<img class="img11" alt="" src="./resource/img/order/pro_order1.png">
							</div>
							<div class="goods_p_text fl">
								<div class="title">
									<span>总价:<em class="price_color">￥<span ng-bind="skunum*1200"></span></em></span>
								</div>
								<div class="price">
									<span>库存：<span>1101（获取库存数）</span> 件</span>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
		     	<!--弹框第二行-->
					<div class="jiyinum">
						<div class="title">
							<span>基因个数：</span>
						</div>
						<!--根据每个产品获取一分中基因个数-->
						<div class="items width_w_98">
							<label class="kline btn_opt">4（获取个数）&nbsp;<span>个</span></label>
						</div>
						<!--份数增加减少处-->
						<div id="sku_quantity" class="quantity detail_d_quantity  clearfix">
							<h2>份数：</h2>
							<!-- 加减计数处 -->
							<div class="items clearfix">
                              <span class="ui_number">
                              	<!--1101为获取的库存量-->
			                    <button type="button" class="decrease" ng-disabled="skunum <= 1" ng-click="skunum = skunum - 1">-</button>		                   
			                    <input  class="num" name="quantity" min="1" max="95" type="text" autocomplete="off" ng-model="skunum" ng-focus="focusFun(skunum)" ng-blur="blurFun(skunum, 1101)" style="text-align: center;width: 50px;" ng-model="skunum">
			                    <button type="button" class="increase" ng-click="addNum(skunum, 1101)">+</button>
                              </span> 
							</div>
						</div>
					</div>
				<!--此时按钮有三个：1加入购物车，2...，3立即购买；1,2弹框弹出“确定”，3弹出“确认支付”-->
					<div class="buy_own_confirm">
					    <!--跳转到购物车页面-->
						<a><span style="color: white;" ng-show="confirm_yes">确定</span></a>
						<!--跳转到订单结算页面-->
						<a><span style="color: white;" ng-show="confirm_pay">确定支付</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--最好显示弹窗-->
<!--<div class="js_dialog" id="dialog11" ng-if="isShowDialog">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd">{{dialog_content_pro_detail}}</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" ng-click="btnOk()">知道了</a>
        </div>
    </div>
</div>-->
