<!-- header -->
<!--<div ng-include="'view/common/header.html'"></div>-->
<!-- content -->
<style type="text/css">
	a img{
		width: 100%;
	}
</style>
<!--返回，购物车返回-->
<!--<div class="detail_tool top_btn">
	<div class="back_btn icon_btn">
		<a href="#/home"><i class="icon icon-back"></i></a>
	</div>
	<div class="cart_btn icon_btn">
		<a href="#/cart"><i class="icon icon-cart"></i><em class="cart_tips">0</em></a>
	</div>
</div>-->
<!--商品明细-->
<div class="pro_bd">
	<div class="weui-tab">
		<div class="weui-tab__panel">
			<div class="weui-panel weui-panel_access">
				<!--   轮播图-->
				<div class="myslides" >
				 <ks-swiper-container loop="true" autoplay="1000" show-nav-buttons="true" slides-per-view="1" space-between="0" pagination-clickable="true">
				    <ks-swiper-slide ng-repeat="img in images">
				        <img style="width: 100%;height: 100%;" ng-src="{{img.url}}">
				    </ks-swiper-slide>
				</ks-swiper-container>
				 </div>
				<div class="weui-panel__bd top_line bottom_line" style="margin: 0;padding: 0;">
					<a href="javascript:void(0);" class="weui-meldia-box weui-media-box_appmsg">
            			<div class="weui-media-box__bd">
							<h4 class="weui-media-box__title" style="margin-left: 15px;font-size: 16px;margin-bottom: 0px;">{{product.proName}}</h4>
							<span class="weui-media-box__desc">
			                <div class="detail_info_item clear item_bg padding_block .bottom_line">
				                 <div class="detail_price_info pull_left">
				                    <div class="now_price" style="margin-left: 10px;margin-top: 10px;color: #48a5f4;">
				                            <!--<span class="font_size12">折扣价</span>-->
								       <span > <span style="color: #f0721f;font-size: 14px;">￥</span><span id="newPrice" style="color: #f0721f;">{{product.proRateprice}}.00</span></span>
							        </div>
							        <div class="farmer_price">
								       <span class="font_size12" style="margin-left: 12px;margin-top: 8px;">原价</span>
								       <span><span class="font_size12">￥</span><span style="text-decoration:line-through">{{product.productPrice}}.00</span></span>
							        </div>
					            </div>
				            </div>
				            <hr style="margin-top: 10px;margin-bottom: 10px;" />
				            <div>
					            <span class="pull-left" style="margin-left: 15px;">
				                <span>库存&nbsp;&nbsp;&nbsp;<span style="color: #000000;">&nbsp{{product.proSum}}&nbsp&nbsp</span>件</span>
					            </span>
	                        <!--...或者改成图片 点击有弹框 弹出购买份数的加减-->
					            <!--<span class="pull-right">
				                <span ng-click="showModal();button_state_change()" style="margin-right: 15px;">. . .</span>
					            </span>-->
				            </div>
				            <div class="back_bar"></div>
							<div class="company_info">
								<div class="company_pic">
									<img src="./resource/img/order/pro_order1.png"/>
								</div>
								<div class="company_name">帝恩艾健康服务中心</div>  
							    <div class="pro_detail_btns">
							    	<div class="p_detail">商品详情</div>
							    	<div class="see_pro" onclick="window.open('index.html')">查看分类</div>
							    </div>
							   
							</div>							
                    <!--商品的详细介绍获取-->
	                        <div id="productDetail"style="height: 100%;margin: 0;padding: 0;"></div>
						</div>

					</a>

				</div>
			</div>
		</div>
	</div>
</div>
<!--加入购物车，点击购买-->
<div class="goods_buy_box" >
	<!-- 购买按钮 -->
	<ul style="position: fixed;">
		<li><a class="buy_cart" ng-click="showModal();button_state_change()"> <span>加入购物车</span> </a></li>
		<li><a class="buy_own" ng-click="showModal();button_state_change1()"> <span>立即购买</span> </a></li>
	</ul>
</div>
<!--弹层	-->
<!--加入购物车，点击购买，...弹层-->
<div style="z-index: 999999;"  class="poplayer_box layer_type3" id="mask" ng-show="mask">
	<div class="poplayer_bg" ng-click="mask = false"></div>
	<div class="poplayer_content">
		<div class="poplayer_section">
			
			<div class="layer_type layer_style">
				<!-- 样式风格 -->
				<div class="layercont">
					<!--关闭按钮-->
					<div class="close_btn" ng-click="button_state_changere()">
						<i class="icon icon_close" ng-click="close()"></i>
					</div>
					<div class="detail_select_rule">
						<div class="goods_p_info line-bottom ">
							<div class="goods_p_img thumb-img11 fl">
								<!--获取该商品详情的商品小图-->
								<img class="img11" alt="" ng-src="{{product.imagelist[0].url}}">
							</div>
							<div class="goods_p_text fl">
								<div class="title">
									<span>总价:<em class="price_color">￥<span ng-bind="skunum*{{product.proRateprice}}"></span></em></span>
								</div>
								<div class="price">
									<span>库存：<span>{{product.proSum}}</span> 件</span>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
		     	<!--弹框第二行-->
					<div class="jiyinum">
						<div class="title">
							<span>基因个数：</span>
						</div>
						<!--根据每个产品获取一分中基因个数-->
						<div class="items width_w_98">
							<label class="kline btn_opt">{{product.geneNum}}&nbsp;<span>个</span></label>
						</div>
						<!--份数增加减少处-->
						<div id="sku_quantity" class="quantity detail_d_quantity  clearfix">
							<h2>份数：</h2>
							<!-- 加减计数处 -->
							<div class="items clearfix">
                              <span class="ui_number">
                              	<!--1101为获取的库存量-->
			                    <button type="button" class="decrease" ng-disabled="skunum <= 1" ng-click="skunum = skunum - 1">-</button>
			                    <input style="text-align: center;width: 50px;"  class="num" name="quantity" min="1" max="95" type="text" autocomplete="off" ng-model="skunum" ng-focus="focusFun(skunum)" ng-blur="blurFun(skunum)" >
			                    <button type="button" class="increase" ng-click="addNum(skunum)">+</button>
                              </span>
							</div>
						</div>
					</div>
				<!--此时按钮有三个：1加入购物车，2...，3立即购买；1,2弹框弹出“确定”，3弹出“确认支付”-->
					<div class="buy_own_confirm">
					    <!--跳转到购物车页面-->
						<a><span style="color: white;" ng-show="confirm_yes" ng-click="addcart()">确定</span></a>
						<!--跳转到订单结算页面-->
						<a><span style="color: white;" ng-show="confirm_pay" ng-click="topay()" >确定支付</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'./view/common/common.html'"></div>
