
<!-- header -->
<!--<div ng-include="'view/common/header.html'"></div>-->
<!-- content -->

<div class="pro_detail">
		   <div class="weui-tab">
			<div class="weui-tab__panel">
			<div class="weui-panel weui-panel_access">
		    <!--   轮播图-->
			 <div class="sliderBox" >
			    <slider timer="2" data="data" btn-left="#btnleft" btn-right=".btnright" animate-type="ease" animate-time="1.0">
			    </slider>
			    <div class="btn left" id="btnleft"></div>
			    <div class="btn right btnright"></div>
			  </div>
		    
		    <div class="weui-panel__bd top_line bottom_line">
		        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
		           
		            <div class="weui-media-box__bd">
		                <h4 class="weui-media-box__title">记忆天赋基因检测（获取产品名称）</h4>
		               
		                <span class="weui-media-box__desc">
		                
		                <div class="detail_info_item clear item_bg padding_block .bottom_line">
			                 <div class="detail_price_info pull_left">
			                    <div class="now_price">
			                            <!--<span class="font_size12">折扣价</span>-->
			                            <span>
			                            	<span class="font_size12">￥</span>
			                            	<span id="newPrice">1200（获取价格）</span>
			                            </span>
			                    </div>
			                    <div class="farmer_price">
			                    	 <span class="font_size12">原价</span>
			                            <span>
			                            	<span class="font_size12">￥</span>
			                            	<span style="text-decoration:line-through">1500</span>
			                            </span>
			                    </div>
			                 </div>
			                
		                </div>
			           <hr style="margin-top: 10px;margin-bottom: 10px;"/> 
			            <div>
			            	<span class="pull-left">
			            		<span>已选&nbsp;&nbsp;&nbsp;<span style="color: #000000;">1（商品个数）</span>件</span>
			            	</span>
			            	
			            	<!--...或者改成图片 点击有弹框 弹出购买份数的加减-->
			            	<span class="pull-right">
			            		<span>. . .</span>
			            	</span>
			            </div>
			            
			            <hr style="margin-top: 10px;margin-bottom: 10px;"/> 
			            <div>
			            	<span class="pull-left">
			            		<span>详细介绍</span>
			            	</span>
			            </div>
		                <hr style="margin-top: 10px;margin-bottom: 10px;"/> 
		                
		                <!--商品的详细介绍获取-->
		                
		                <div>这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细这里是商家提供的商品详细</div>
		            
		               
		            </div>
		            
		            
		        </a>
		   
		    </div>
		    </div>
	
		    </div>
	      </div> 
	      

    

</div>
<div class="goods_buy_box">
  <!-- 购买按钮 -->
  <ul >
    <li><a class="buy_cart" ng-click="getCart()"> <span>加入购物车</span> </a></li>
    <li><a class="buy_own" ng-click="showModal()"> <span>立即购买</span> </a></li>
  </ul>

</div>
