<style type="text/css">
	
	a:hover {text-decoration:none;}
	
</style>


<div class="weui-panel weui-panel_access">
	 <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label" style="color: orange;font-size: 16px;">报告已上传</label>
        <em class="weui-form-preview__value" style="font-size: 15px;">创建日期2016-8-24 19:40</em>
</div>
<div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="resource/img/icon/report.png" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">记忆天赋基因检测</h4>
            </div>
        </a>
         <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" style="margin-bottom: 5px;">
            <div class="weui-cell__bd">查看报告</div>
            <span class="weui-cell__ft"></span>
        </a>    
</div>



<div class="weui-panel weui-panel_access">
	 <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label" style="color: orange;font-size: 16px;">样本检测中</label>
        <em class="weui-form-preview__value" style="font-size: 15px;">创建日期2016-8-24 19:40</em>
</div>
<div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="resource/img/icon/report_close.png" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">记忆天赋基因检测</h4>
            </div>
        </a>
         <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">报告未出</div>
            <span class="weui-cell__ft"></span>
        </a>    
</div>




<div class="weui-panel weui-panel_access">
	 <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label" style="color: orange;font-size: 16px;">样本检测中</label>
        <em class="weui-form-preview__value" style="font-size: 15px;">创建日期2016-8-24 19:40</em>
</div>
<div class="weui-panel__bd">
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="resource/img/icon/report_close.png" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">记忆天赋基因检测</h4>
            </div>
        </a>
         <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">报告未出</div>
            <span class="weui-cell__ft"></span>
        </a>    
</div>
   







