
<style>
	.service-nav{
		margin: 0;
		padding: 0;
		background: #10AEFF;
		height: 35px;
		text-shadow: 5px 2px 6px black;
		
	}
	
	.service-nav h4{line-height: 35px;
		margin: 0;
		text-align: center;
		color: white;}
	
</style>






<div class="service-nav">
	<h4>服务流程</h4>		
</div>

<div class="service-content">
   <div class="service_img" >
   	<img  style="width: 100%;height: 180px;"  src="resource/img/personal/service_img.png" />
   	
   </div>	
	
	<div class="service-text">
		<p style="font-size:15px;margin-left:10px;margin-top: 20px;">服务流程分为线上和线下：</p>
		<img style="width: 100%;height: 180px;margin-top: 10px;" src="resource/img/personal/fuwu.png"/>
			
	</div>
	
	
</div>



